# Grafana Datasource Provisioning Configuration
# Auto-configures Prometheus datasource on Grafana startup
# BP-040: Environment variable substitution in secureJsonData (Grafana 10+)
# Note: Use $VAR syntax, NOT ${VAR} to avoid double expansion issues
# Reference: https://github.com/grafana/grafana/pull/63085

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus
    isDefault: true
    editable: false
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: $PROMETHEUS_ADMIN_PASSWORD
    jsonData:
      httpMethod: POST
      timeInterval: 15s
